*
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

.gallery
{
    max-width: 800px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
}

.image_section
{
    box-sizing: content-box;
    width: 800px;
    transform: translate3d(0px, 0px, 0px);
}

.slide
{
    float: left;
    width: 800px;
}

.pic
{
    width: 100%;
}

img
{
    height: auto;
}

.prev
{
    position: absolute;
    height: 100%;
    width: 70px;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}

.next
{
    position: absolute;
    height: 100%;
    width: 70px;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}